body {
    background-color: beige;
}
span {
    font-size: 35px;
    font-weight: bold;
    border: black 1px solid;
}

.black {
    font-family: 'Courier New', Courier, monospace;
    border: black 1px solid;
    padding: 10px;
    margin-bottom: 50px;
}

.red {
    font-family: Arial, Helvetica, sans-serif;
    border: red 1px solid;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 50px
}

.first {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: right;
}

.second {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: right;
    clear: both;
}


