body {
  background-color: #ADBF69;
}

.pdf:before {
content: "";
display: inline-block;
width: 20px;
height: 20px;
background: url(../imagenes/iconos_ej_3/pdf.png) no-repeat;
}
.docx:before {
content: "";
display: inline-block;
width: 20px;
height: 20px;
background: url(../imagenes/iconos_ej_3/docx.png) no-repeat;
}
.xlsx:before {
content: "";
display: inline-block;
width: 20px;
height: 20px;
background: url(../imagenes/iconos_ej_3/xlsx.png) no-repeat;
}
.pptx:before {
content: "";
display: inline-block;
width: 20px;
height: 20px;
background: url(../imagenes/iconos_ej_3/pptx.png) no-repeat;
}