body{
    background-color: mediumturquoise;
}

.imagen{
    width: 95px;
    height: 112px;
    float: right;
    margin: 5px;
    border: 5px solid white;
    box-shadow: 0 0 10px black;
}

.description {
	margin-bottom: 20px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    align-items: center;
    font-size: small;
}

.separator{
    height: 1px;
    background-color: black;
    margin: 20px 0px;
}

.container{
    width: 595px;
    margin: auto;
    padding: 30px;
    background-color: paleturquoise;
}

.content{
    float: left;
	margin-left: 115px;
	margin-bottom: 20px;
    width: 369px;
}

.caption {
    display: block;
}

.text{
    clear: both;
}

.container h1{
	text-align: center;
}