/* Estilos para el encabezado */
header {
color: white;
text-align: center;
background-color: #0e5a8a;
padding-top: 1px;
}
/* Estilos para la barra de navegación */
.nav-bg {
  background-color: #0e5a8a;
}
.navegacion-principal {
display: flex;
flex-direction: row;
}
.navegacion-principal a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
  margin-left: 130px;
}
.navegacion-principal a:hover {
background-color: grey;
color: black;
}
/* Estilos para el logotipo del encabezado */
header img {
width: 230px;
height: 230px;
}
/* Estilos para el contenido principal */
main {
padding: 20px;
}
h1 {
font-size: 36px;
margin: 20px 0;
color: var(--color-primary);
font-weight: bold;
text-transform: uppercase;
letter-spacing: 4px;
}
h2 {
font-size: 28px;
margin: 20px 0;
color: var(--color-primary);
}
h3 {
font-size: 22px;
margin: 20px 0;
color: var(--color-primary);
letter-spacing: 2px;
}
section {
border-bottom: 1px solid #ccc;
padding-bottom: 20px;
border-radius: 5px;
padding: 1em;
margin-bottom: 1em;
}
section:last-child {
border-bottom: none;
}
p {
font-size: 18px;
line-height: 1.5;
}
/* Estilos para el pie de página */
footer {
background-color: #0e5a8a;
padding: 10px 20px;
display: flex;
justify-content: flex-end;
}
footer nav a {
color: #fff;
text-decoration: none;
margin-left: 20px;
}
footer nav a:first-child {
margin-left: 0;
}
/* Estilos para el enlace al contenido principal */
#main-content {
position: absolute;
top: -100px;
left: 0;
}
a[href="#main-content"] {
position: relative;
top: 100px;
display: block;
padding: 10px;
background-color: var(--color-primary);
color: #fff;
text-align: center;
}

section {
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

main img {
  width: 300px;
  height: 300px;
}

ul {
  list-style-type: disc;
}