body {
  background-color: darkgray;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 380px;
  width: 630px;
  border: 2px solid black;
}

.contenedor img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
}

.contenedor img:hover {
  border-color: fuchsia;
  z-index: 1;
}

.contenedor img:hover ~ img {
  opacity: 0;
  pointer-events: none;
}

.contenedor img:not(:hover) {
  opacity: 0.5;
}

.contenedor img:nth-child(1) {
  margin-top: 5px;
  margin-left: 5px;
}

.contenedor img:nth-child(2) {
  margin-left: 105px;
  margin-top: -105px;
}

.contenedor img:nth-child(3) {
  margin-left: 210px;
  margin-top: -100px;
}

.contenedor img:nth-child(4) {
  margin-left: 315px;
  margin-top: -100px;
}

.contenedor img:nth-child(5) {
  margin-left: 420px;
  margin-top: -100px;
  margin-bottom: 6px;
}


